<h1>All Blog Posts</h1>
<%= link_to 'New Blog Post', new_page_path %>
<hr />

<% @pages.each do |page| %>
  <div>

    <h3>
      <%= link_to page.title, page_path(page) %>
    </h3>

    <i>Author: <%= page.author %></i>
    <br />
    <strong>PRIVATE: <%= page.private ? 'Yes' : 'No' %></strong>
    <%= link_to 'Delete', page_path(page), method: :delete %>
  </div>
  <hr />
<% end %>
