<h1>Create New Blog Post</h1>

<%= form_for @page do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title, placeholder: 'Title', required: true %>
  </div>
  <div>
    <%= f.label :author %>
    <%= f.text_field :author, placeholder: 'Author', required: true %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body, placeholder: 'Body', required: true %>
  </div>
  <div>
    <%= f.label :private %>
    <%= f.check_box :private %>
  </div>
  <%= f.submit %>
<% end %>
